NODE_ENV=production
PORT=3000
JWT_SECRET=replace-with-production-secret
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=party_building_app
DB_USER=party_building_user
DB_PASSWORD=PartyBuildingDev_2026!
UPLOAD_DIR=/data/party-building/uploads
PUBLIC_BASE_URL=http://39.105.127.142:1145
CORS_ORIGINS=http://39.105.127.142:1919,http://192.168.66.228,http://localhost:5173,http://127.0.0.1:5173
ALLOW_ALL_CORS=false
WECHAT_APP_ID=wxfb86736593a7e8fa
WECHAT_APP_SECRET=9ff45f58b086949988c81177f2727c82
WECHAT_SERVICE_APP_ID=wxfb86736593a7e8fa
WECHAT_SERVICE_APP_SECRET=9ff45f58b086949988c81177f2727c82
WECHAT_SERVICE_REDIRECT_URI=https://havensky.cn/wx-app/
WECHAT_BIND_SUCCESS_TEMPLATE_ID=wnZT-XnyMeh1UW0y7Nscz2nVnNnyVZtNCNTtQZunKlw
WECHAT_UNBIND_SUCCESS_TEMPLATE_ID=2oVVJm20kfDLopQdJFyAEoYn8diJzwIKO1nxH5JXvbo
WECHAT_REGISTRATION_APPROVAL_TEMPLATE_ID=Uu76NJ-hIlWi_A8enlHiq8xIfQdlG2-AKfd6j-f3dIg
WECHAT_WORKFLOW_APPROVAL_TEMPLATE_ID=zkxuUQtXptzR9PhxdJppSpotFCrLLo9CZkpIKb3gS8g
WECHAT_SESSION_SECRET=
 DB_PASSWORD=PartyBuilding_2026_Remote!
